*, *:before, *:after {
    box-sizing: border-box;
}

body {
    background: hsla(144, 10%, 37%, 1);
}

body, input, textarea {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 1.3
}

main {
    background: hsla(144, 10%, 77%, 1);
    padding: 40px;
    margin: 12px auto;
    border-radius: 3px;
    max-width: 800px;
    width: calc(100% - 24px);
}

section {
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px dotted #888;
}

h1{
    margin: 0;
}

p {
    margin: 0;
    margin-bottom: 0.5em;
}

.envs a {
    font-family: monospace;
    font-weight: bold;
    font-size: 1.2em;
    text-decoration: underline;
    cursor: pointer;
}

.envs a, envs a:visited {
    color: hsla(217, 78%, 37%, 1);
}

.envs li {
    margin-bottom: 1em;
}

.btn {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 15px 40px;
	display: inline-block;
	margin: 0 0 1rem;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
    position: relative;
	background: hsla(144, 60%, 28%, 1);
	color: #fff;
	box-shadow: 0 6px hsla(144, 60%, 18%, 1);
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
	border-radius: 5px;
}

.btn--small {
    padding: 5px 15px;
    font-size: 0.9em;
}

.btn:hover {
	box-shadow: 0 4px hsla(144, 60%, 18%, 1);
	top: 2px;
}

.btn:active {
	box-shadow: 0 0px hsla(144, 60%, 18%, 1);
	top: 6px;
}

.btn:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: block;
    width: 0%;
    height: 100%;
    background: hsla(144, 60%, 28%, 1);
}

.envs a.delete {
    color: hsla(348, 78%, 34%, 1);
}

.warning-text {
    color: hsla(21, 81%, 38%, 1);
}

pre {
    padding: 12px;
    background: #444;
    color: #EEE;
    overflow-y: scroll;
    border-radius: 5px;
}

pre code:before {
    content: "$ ";
    display: inline;
}

.loader {
    text-align: center;
    width: 100%;
}

svg path {
    fill: hsla(144, 100%, 22%, 1)
}

textarea, input {
    padding: 0.5em 0.6em;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    vertical-align: middle;
    box-sizing: border-box;
}

textarea {
    width: 60%;
    height: 50px;
}